@use "sass:color";
@use "../../styles/settings" as *;

footer{
    color:color.scale(white, $lightness: -80%);
    width: 90%;
    @include centerElement;
    justify-content: space-between;
    margin-top: 40px;
     font-family: $poppins;
    font-size: 0.9rem;
     @media screen and (max-width:900px) {
        font-size: 0.8rem;
     }
     @media screen and (max-width:720px) {
        flex-direction: column;
     }
    ul{
        display: flex;
        gap: 10px;
        @media screen and (max-width:453px) {
        flex-direction: column;
        text-align: center;
        gap: 2px;
        margin-top: 20px;
     }
        li{
            list-style: none;
        }
        a{
            color:color.scale(white, $lightness: -80%);
            text-decoration: none;
            font-family: $poppins;
            font-size: 0.9rem;

            &:hover{
                color:color.scale(white, $lightness: -50%);
            }
        }
    }
}